.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	padding: 30px 22px;
	border: 1px solid var(--light-gray);
	border-radius: var(--corner-radius);
	font-size: 20px;

	&__select {
		width: 100%;
		padding: 18px;
		border: 1px solid var(--light-gray);
		border-radius: var(--corner-radius);
		appearance: none;
		background: url('../../../../img/arrow.svg') no-repeat;
		background-position: 93% 50%;
	}

	&__priceBox {
		display: flex;
		gap: 20px;
	}

	&__priceInput {
		width: 100%;
		padding: 18px;
		border: 1px solid var(--light-gray);
		border-radius: var(--corner-radius);
		font-size: 18px;
		&::placeholder {
			color: var(--light-gray);
		}
	}
}
