.title {
	font-family: 'Roboto condensed', Arial;
	font-size: 80px;
	font-weight: 700;
}

.aboutBlock {
	display: flex;
	align-items: center;
	min-height: 260px;
	margin: 32px 0;
	font-size: 22px;
	font-weight: 500;
	text-align: justify;
	line-height: 32px;
	background: linear-gradient(rgba(#fff, 90%) 20%, rgba(#fff, 50%) 100%),
		url('https://static.tildacdn.com/tild3366-3237-4434-a266-326662373538/favicon_1.ico');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.creds {
	display: flex;
	flex-direction: column;
	gap: 16px;

	&__name {
		font-size: 18px;
		font-weight: 500;
	}

	&__title {
		font-size: 64px;
		font-weight: 700;
		font-family: 'Roboto condensed', Arial;
	}

	&__subtitle {
		font-size: 32px;
		font-weight: 900;
	}
}
