.wrapper {
	max-width: 420px;
	min-width: 320px;
	min-height: calc(100vh - 40px);
	// width: 420px;

	margin: 20px auto;
	padding: 40px 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	background-color: #fff;

	border-radius: 10px;
}
