.wrapper {
	// max-width: 380px;
	// min-width: 320px;
	width: 420px;

	margin: 20px auto;
	padding: 40px 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background-color: #fff;

	border-radius: 10px;
}
